<div class="col-md-6 offset-md-3" >
    <h3 style="text-align: center;">Update User</h3>
    <form (ngSubmit)= "onSubmit()">
    <div class="form-group">
        <label>User Name</label>
        <div class="col-20">
        <input type="text" class="form-control" id="name"
                [(ngModel)] = "user.name" name="name">
            </div>
        </div>
    <div class="form-group">
            <label>User Email</label>
            <div class="col-20">
            <input type="text" class="form-control" id="email"
                    [(ngModel)] = "user.email" name="email">
            </div>
                   
            </div>

    <div class="form-group">
            <label>Date Of Birth</label>
            <div class="col-20">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
               <input matInput [matDatepicker]="picker" type="text" class="form-control" id="dob"
                        [(ngModel)] = "user.dob" name="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
               </mat-form-field>
                    </div>
                
            </div>
    <div class="form-group">
            <label>Phone</label>
            <div class="col-20">
            <input type="text" class="form-control" id="phone"
                        [(ngModel)] = "user.phone" name="phone">
                    </div>
                           
            </div>
    <div class="form-group">
            <label>Address</label>
            <div class="col-20">
            <input type="text" class="form-control" id="address"
                    [(ngModel)] = "user.address" name="address">
                    </div>
                               
            </div>

    <div class="form-group">
            <label>Gender</label>
            <div class="col-20">
                <input type="text" class="form-control" id="gender"
                    [(ngModel)] = "user.gender" name="gender">
                    </div>      
            </div>
        
    
        
    
        <button class="btn btn-success" type="submit" >Submit</button>
 
            
    </form>
    
    </div>