<div class="container col-md-7">
    <h1>User Login</h1>
    <form (ngSubmit)="userLogin()">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" [(ngModel)]="users.email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label  class="form-label">Password</label>
            <input type="password" [(ngModel)]="users.password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>