<div class="col-md-6 offset-md-3" >
    <h3 style="text-align: center;">Create User</h3>
    <form (ngSubmit)= "onSubmit()">
    <div class="form-group">
        <label>User Name</label>
        <div class="col-20">
        <input type="text" class="form-control" id="name"
                [(ngModel)] = "user.name" name="name">
            </div>
            <div class="col-10" *ngIf="userError?.name">
                <span class="text text-danger">{{userError.name}}</span>
        
            </div>
               
        </div>
    <div class="form-group">
            <label>User Email</label>
            <div class="col-20">
            <input type="text" class="form-control" id="email"
                    [(ngModel)] = "user.email" name="email">
                </div>
                <div class="col-10" *ngIf="userError?.email">
                    <span class="text text-danger">{{userError.email}}</span>
            
                </div>
                   
            </div>

    <div class="form-group">
            <label>Date Of Birth</label>
            <div class="col-20">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
               <input matInput [matDatepicker]="picker" type="text" class="form-control" id="dob"
                        [(ngModel)] = "user.dob" name="dob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
               </mat-form-field>
                    </div>
                    <div class="col-10" *ngIf="userError?.dob">
                        <span class="text text-danger">{{userError.dob}}</span>
                
                    </div>
                       
            </div>
    <div class="form-group">
            <label>Phone</label>
            <div class="col-20">
            <input type="text" class="form-control" id="phone"
                        [(ngModel)] = "user.phone" name="phone">
                    </div>
                    <div class="col-10" *ngIf="userError?.phone">
                        <span class="text text-danger">{{userError.phone}}</span>
                
                    </div>
                           
            </div>
            <div class="form-group">
                <label>Password</label>
                <div class="col-20">
                <input type="text" class="form-control" id="password"
                        [(ngModel)] = "user.password" name="password">
                        </div>
                        <div class="col-10" *ngIf="userError?.address">
                            <span class="text text-danger">{{userError.password}}</span>
                    
                        </div>
                                   
                </div>
    <div class="form-group">
            <label>Address</label>
            <div class="col-20">
            <input type="text" class="form-control" id="address"
                    [(ngModel)] = "user.address" name="address">
                    </div>
                    <div class="col-10" *ngIf="userError?.address">
                        <span class="text text-danger">{{userError.address}}</span>
                
                    </div>
                               
            </div>

    <div class="form-group">
            <label>Gender</label>
            <div class="col-20">
                <!--<mat-radio-group aria-label="Select an option">
                    <mat-radio-button  [(ngModel)] = "user.gender" name="gender" value="Male">Male</mat-radio-button>
                    <mat-radio-button  [(ngModel)] = "user.gender" name="gender" value="Female">Female</mat-radio-button>
                </mat-radio-group>
            -->
                  
                <input type="text" class="form-control" id="gender"
                    [(ngModel)] = "user.gender" name="gender">
                    </div>
                    <div class="col-10" *ngIf="userError?.gender">
                        <span class="text text-danger">{{userError.gender}}</span>
                
                    </div>
                                   
            </div>
        
    
        
    
        <button class="btn btn-success" type="submit" >Submit</button>
 
            
    </form>
    
    </div>