<div class="col-md-6 offset-md-3" >
<h3 style="text-align: center;">Create Course</h3>
<form (ngSubmit)= "onSubmit()">
<div class="form-group">
    <label>Course Name</label>
    <div class="col-20">
    <input type="text" class="form-control" id="name"
            [(ngModel)] = "course.name" name="name">
        </div>
            <div class="col-10" *ngIf="courseError?.name">
                <span class="text text-danger">{{courseError.name}}</span>
        
            </div>
           
    </div>
    

    <div class="form-group">
        <label>Author Name</label>
        <div class="col-20">
        <input type="text" class="form-control" id="author"
                [(ngModel)] = "course.author" name="author">
        </div>
                 <div class="col-10" *ngIf="courseError?.author">
                    <span class="text text-danger">{{courseError.author}}</span>
            
                </div>
        
    </div>

    <div class="form-group">
        <label>Email</label>
        <div class="col-20">
    <input type="text" class="form-control" id="email"
            [(ngModel)] = "course.email" name="email">
        </div>
            <div class="col-10" *ngIf="courseError?.email">
                <span class="text text-danger">{{courseError.email}}</span>
        
            </div>
    
    </div>
    
    <div class="form-group">
        <label>Phone</label>
        <div class="col-20">
    <input type="text" class="form-control" id="phone"
            [(ngModel)] = "course.phone" name="phone">
        </div>
            <div class="col-10" *ngIf="courseError?.phone">
                <span class="text text-danger">{{courseError.phone}}</span>
        
            </div>
    
    </div>
    

    <div class="form-group">
        <label>Date Of Published</label>
        <div class="col-20">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
           <input matInput [matDatepicker]="picker" type="text" class="form-control" id="dob"
                    [(ngModel)] = "course.dop" name="dob">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
           </mat-form-field>
                </div>
                <div class="col-10" *ngIf="courseError?.dop">
                    <span class="text text-danger">{{courseError.dop}}</span>
            
                </div>
                   
        </div>


    <div class="form-group">
        <label>Enrolled</label>
        <div class="col-20">
    <input type="txt" class="form-control" id="noc"
            [(ngModel)] = "course.noc" name="noc">
        </div>
            <div class="col-10" *ngIf="courseError?.noc">
                <span class="text text-danger">{{courseError.noc}}</span>
        
            </div>
    
    </div>

    
    <div class="form-group">
        <label>Course Status</label>
        <div class="col-20">
    <input type="txt" class="form-control" id="active"
            [(ngModel)] = "course.active" name="active">
        </div>
            <div class="col-10" *ngIf="courseError?.active">
                <span class="text text-danger">{{courseError.active}}</span>
        
            </div>
    
    </div>
    

    <button class="btn btn-success" type="submit" >Submit</button>
        
</form>

</div>