<h1  style="text-align: center; border: 10px;">
    <img class="img-responsive" src="/assets/images/ang.png">Angular And <img class="img-responsive" src="/assets/images/spring-boot-logo.jpg"> Spring Boot <img class="img-crud" src="/assets/images/crud.png"> Operation</h1>
<h2 [ngStyle]="titleStyle" >Course List</h2>
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course </th>
            <th>Author </th>
            <th>Published</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td [style.color]="'orange'" >{{course.name | uppercase}}</td>
            <td [style.color]="'blue'" >{{course.author}}</td>

            <td>{{course.dop | date:'shortDate'}}</td>
            <td [style.color] ="'grey'">{{course.email}}</td>
            <td>{{course.active}}</td>
            
            <td class="justify-content-start">
                <button (click)="updateCourse(course.id)" class="btn btn-info">Update</button>
                <button class="btn btn-danger" (click)="deleteCourse(course.id) " style="margin-left: 10px;">Delete</button>
                <button class="btn btn-info" (click)="courseDetail(course.id) " style="margin-left: 10px;">View</button>
            </td>
        </tr>
    </tbody>
</table>