<h3>User Details</h3>
<table class="table table-striped"> 
    <thead class="col-20 text-danger">
        <tr class="col-20">
            <th>Titles</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody >
        <td class="col-20">
            <tr>Name</tr>
            <tr>Gender </tr>
            <tr>Email </tr>
            <tr>DOB</tr>
            <tr>Phone</tr>
            <tr>Address</tr>
            <tr>Password</tr>
        </td>
        <td class="col-20">
            <tr>{{users.name}}</tr>
            <tr>{{users.gender}}</tr>
            <tr>{{users.email}}</tr>

            <tr>{{users.dob}}</tr>
            <tr>{{users.phone}}</tr>
            <tr>{{users.address}}</tr>
            <tr>{{users.password}}</tr>
        </td>
    </tbody>
</table>

