<h3>Course Details</h3>
<table class="table table-striped"> 
    <thead class="col-20 text-danger">
        <tr class="col-20">
            <th>Titles</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody >
        <td class="col-20">
            <tr>Course Id</tr>
            <tr>Course </tr>
            <tr>Author </tr>
            <tr>Published</tr>
            <tr>Email</tr>
            <tr>Status</tr>
        </td>
        <td class="col-20">
            <tr>{{course.id}}</tr>
            <tr>{{course.name}}</tr>
            <tr>{{course.author}}</tr>

            <tr>{{course.dop}}</tr>
            <tr>{{course.email}}</tr>
            <tr>{{course.active}}</tr>
        </td>
    </tbody>
</table>