<div class="col-md-6 offset-md-3" >
    <h3>Update Course</h3>
    <form (ngSubmit)= "onSubmit()">
        <div class="form-group">
        <label>Course Name</label>
        <input type="text" class="form-control" id="name"
                [(ngModel)] = "course.name" name="name">
        
        </div>
    
        <div class="form-group">
            <label>Author Name</label>
            <input type="text" class="form-control" id="author"
                    [(ngModel)] = "course.author" name="author">
           
        </div>
        <div>
            <label>Email</label>
        <input type="text" class="form-control" id="email"
                [(ngModel)] = "course.email" name="email">
        
        </div>
        <div>
            <label>Phone</label>
        <input type="text" class="form-control" id="phone"
                [(ngModel)] = "course.phone" name="phone">
        
        </div>
    
        <div>
            <label>Date Of Published</label>
        <input type="txt" class="form-control" id="dop"
                [(ngModel)] = "course.dop" name="dop">
        
        </div>
        <div>
            <label>Enrolled</label>
        <input type="txt" class="form-control" id="noc"
                [(ngModel)] = "course.noc" name="noc">
        
        </div>
        <div>
            <label>Course Status</label>
        <input type="txt" class="form-control" id="active"
                [(ngModel)] = "course.active" name="active">
        
        </div>
        <button class="btn btn-success" type="submit" >Submit</button>
            
    </form>
    
    </div> 