/* You can add global styles to this file, and also import other style files */
.footer{
    position:absolute;
    bottom: 0%;
    width: 100%;
    height: 40px;
    background-color: blue;
    text-align: center;
    color: white;
}

.img-responsive{
    width: 5%
}
.img-crud{
    width: 25%
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
